@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220; */
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 245, 245, 245;
}

.radio:checked {
  box-shadow: 0 0 0 0px ;
  animation: none;
  /* @apply shadow-none; */
}
input[type="radio"]:checked {
  background-color: transparent; /* Menghapus warna latar belakang default */
  border-color: transparent; /* Menghapus warna border default */
}

input[type="radio"].bg-orange-500:checked {
  background-color: #f97316; /* Warna oranye tua */
}

input[type="radio"].bg-orange-200:checked {
  background-color: #fed7aa; /* Warna oranye muda */
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 255,1.0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-opacity: 0.5;
  }
} */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255,1.0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
.btn-eWhite {
  background-color: #fff;
  border: 1px solid #FFEBD7;
  color: rgb(var(--foreground-rgb));
}
.btn-eWhite:hover {
  background-color: #FFEBD7;
  border: 1px solid #FFEBD7;
  color: rgb(var(--foreground-rgb));
}
.btn-ePrimary {
  background-color: #EEA061;
  color: #fff;
  border: none
}
.btn-ePrimary:hover {
  background-color: #F4C089;
  color: #fff;
}
.btn-Delete {
  background-color: #d1443d;
  border:none;
  color: #fff;
}
.btn-Delete:hover {
  background-color: #e85048;
  color: #fff;
}
.badge-ePrimary {
  background-color: #EEA147;
  color: rgb(var(--foreground-rgb));
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
